<%= simple_form_for(@contestant, html: {class: "form-horizontal"}) do |f| %>
  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% @contestant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :club %><br>
    <%= f.text_field :club %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :style %><br>
    <%= f.collection_select :style, Contestant::STYLE, :to_s, :to_s %>
  </div>
  <div class="field">
    <%= f.label :number_of_competitions_entered %><br>
    <%= f.text_field :competitions %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
  </div>
<% end %>
