
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Derby City Whisker Club</title>

  <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
 
   </head>
<header>
  <a href="index.html" id="logo" class="text-center">
      <h1 id="top">The Derby City Whisker Club</h1>
      <h2 id="middle">Louisville, Kentucky</h2>
      <h3 id="bottom">Est. 2011</h3>
    </a>
    <nav>
      <ul class="list-inline text-center">
      <li><a href="index.html">Home</a></li>
      <li><a href="members.html">Members</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="calender.html">Calender</a></li>
      <li><%= link_to "Registration", new_contestant_path %></li>
      </ul>
    </nav>

</header>
<h1 class="text-center">Registered Competitors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Club</th>
      <th>City</th>
      <th>Style</th>
      <th>Competitions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contestants.each do |contestant| %>
      <tr>
        <td><%= contestant.name %></td>
        <td><%= contestant.club %></td>
        <td><%= contestant.city %></td>
        <td><%= contestant.style %></td>
        <td><%= contestant.competitions %></td>
        <td><%= link_to 'Show', contestant %></td>
        <td><%= link_to 'Edit', edit_contestant_path(contestant) %></td>
        <td><%= link_to 'Destroy', contestant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contestant', new_contestant_path  %>




<footer class="text-center">
    <p>&copy; 2011 - 2015 Derby City Whisker Club</p>
</footer>

<script src="bootstrap/js/bootstrap.min.js"></script>