<html>
  <head>
  <meta charset="utf-8">
  <title>Derby City Whisker Club</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/memberpages.css">
  </head>
   <body>
   <header>
    <a href="index.html" id="logo">
      <h1 id="top">The Derby City Whisker Club</h1>
      <h2 id="middle">Louisville, Kentucky</h2>
      <h3 id="bottom">Est. 2011</h3>
    </a>    
   </header>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contestant.name %>
</p>

<p>
  <strong>Club:</strong>
  <%= @contestant.club %>
</p>

<p>
  <strong>City:</strong>
  <%= @contestant.city %>
</p>

<p>
  <strong>Style:</strong>
  <%= @contestant.style %>
</p>

<p>
  <strong>Competitions:</strong>
  <%= @contestant.competitions %>
</p>

<%= link_to 'Edit', edit_contestant_path(@contestant) %> |
<%= link_to 'Back', contestants_path %>
<footer>
      <p>&copy; 2011 - 2015 Derby City Whisker Club</p>
    </footer>
   </body>
</html>